.App {
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.Coin-header {
  flex-direction: column;
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 50px;
}